/* Useful link: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container 
https://www.freecodecamp.org/news/use-svg-images-in-css-html/*/
* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
}

h6 {
  color: hsl(184, 14%, 56%);
}

.divwrapper {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));

  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  max-width: 50%;
  min-width: min-content;
  /* above means that when screen gets smaller, it will not get smaller than the content */
  margin: auto;
  margin-top: 5rem;
}

.billSection h6 {
  margin: 0rem;
  display: contents;
}

.billAmountBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  border: none;
}
/* input {
  position: absolute;
  right: 20px;
} */
/* input[value=""] {
  position: absolute;
  right: 210px;
} */
/* input[type="number"] {
  /* Awesome styling */

/* #billAmount {
  display: flex;
  justify-content: flex-end;
} */

.dollarIcon {
  position: absolute;
  width: 10px;
  top: 55px;
  left: 25px;
}

.dollarSign {
  align-self: center;
  margin-left: 1rem;
}
.selectTipSection {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  align-content: space-between;
  flex-direction: column;
}

.tip {
  width: 100px;
  height: 42px;
  margin: 5px;
  text-align: center;
  /* align-content: center */
  display: inline-block;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border-radius: 0.3rem;
  border: none;
}

#customBtn {
  background-color: hsl(189, 41%, 97%);
  color: hsl(184, 14%, 56%);
}

.tip:hover {
  background-color: hsl(172, 67%, 45%);
}
.noOfPeopleBlock {
  display: grid;
  width: 100%;
  height: 3rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  border: none;
}

.personIcon {
  position: absolute;
  bottom: 68px;
  left: 25px;
  width: 10px;
  /* align-self: center;
  margin-left: 1rem; */
}

.rightContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  padding: 2rem;
  height: 18rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.5rem;
  color: white;
}

.tipAmountPerPerson {
  position: absolute;
  right: 55px;
  top: 32px;
  font-size: 38px;
  color: hsl(172, 67%, 45%);
}
.totalAmountPerPerson {
  position: absolute;
  right: 55px;
  top: 108px;
  font-size: 38px;
  color: hsl(172, 67%, 45%);
}

.reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  display: grid;
  align-items: center;
  margin-top: 5rem;
  border-radius: 0.3rem;
}

.resetBtn {
  justify-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
