* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}

body {
  background-color: hsl(185, 41%, 84%);
}

h1 {
  color: hsl(183, 100%, 15%);
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: larger;
  padding-top: 100px;
}

h6 {
  color: hsl(184, 14%, 56%);
}

.divwrapper {
  position: relative;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  max-width: 50%;
  min-width: min-content;
  margin: auto;
  margin-top: 5rem;
}

.billSection h6 {
  margin: 0rem;
  display: contents;
}

.billAmountBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

.dollarIcon {
  position: absolute;
  width: 10px;
  top: 55px;
  left: 25px;
}

.dollarSign {
  align-self: center;
  margin-left: 1rem;
}

.selectTipTitle {
  padding-top: 2rem;
}

.selectTipSection {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  align-content: space-between;
  padding-top: 1rem;
}

.tip {
  width: 90px;
  height: 42px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

#customInput {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}

@media (max-width: 1119px) {
  #notZeroText {
    display: grid;
    color: red;
    position: absolute;
    bottom: 435px;
    right: 20px;
    font-size: smaller;
  }
}

@media (min-width: 1120px) {
  #notZeroText {
    display: grid;
    color: red;
    bottom: 100px;
    left: 180px;
    position: absolute;
    font-size: smaller;
  }
}

.tip:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.noOfPeopleBlock {
  display: grid;
  width: 100%;
  height: 3rem;
  background-color: hsl(189, 41%, 97%);
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
}

#noOfPeople,
#billAmount {
  font-size: 18px;
  color: hsl(183, 100%, 15%);
}

.personIcon {
  display: grid;
  position: absolute;
  bottom: 55px;
  left: 25px;
  width: 10px;
}

@media (max-width: 1119px) {
  .personIcon {
    display: grid;
    position: absolute;
    top: 320px;
    left: 25px;
    width: 10px;
  }
}

.rightContent {
  display: grid;
  padding: 2rem;
  height: 18rem;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.5rem;
  color: white;
}

.tipAmountPerPerson {
  position: absolute;
  right: 35px;
  top: 45px;
  font-size: 28px;
  color: hsl(172, 67%, 45%);
}

.totalAmountPerPerson {
  position: absolute;
  right: 35px;
  top: 115px;
  font-size: 28px;
  color: hsl(172, 67%, 45%);
}

@media (max-width: 1183px) {
  .tipAmountPerPerson {
    position: absolute;
    right: 45px;
    top: 400px;
    font-size: 25px;
  }

  .totalAmountPerPerson {
    position: absolute;
    right: 45px;
    top: 470px;
    font-size: 25px;
    color: hsl(172, 67%, 45%);
  }
}

.reset {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  display: grid;
  align-items: center;
  margin-top: 5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.resetBtn {
  justify-self: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 5rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline-color: hsl(172, 67%, 45%);
}
